<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_-1</string>
		<key>icon</key>
		<string>icon_category_-1</string>
		<key>name</key>
		<string>全部分类</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_-1</string>
		<key>small_icon</key>
		<string>icon_filter_category_-1</string>
	</dict>
	<dict>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_1</string>
		<key>icon</key>
		<string>icon_category_1</string>
		<key>name</key>
		<string>HTML入门</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_1</string>
		<key>small_icon</key>
		<string>icon_filter_category_1</string>
		<key>map_icon</key>
		<string>ic_category_1</string>
		<key>subcategories</key>
		<array>
			<string>HTML 简介</string>
			<string>HTML 基础</string>
			<string>HTML 编辑器</string>
			<string>HTML 属性</string>
			<string>HTML 文档</string>
			<string>HTML 列表</string>
			<string>HTML 元素</string>
		</array>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_20</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_20</string>
		<key>icon</key>
		<string>icon_category_20</string>
		<key>name</key>
		<string>CSS</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_20</string>
		<key>small_icon</key>
		<string>icon_filter_category_20</string>
		<key>subcategories</key>
		<array>
			<string>概念</string>
			<string>语法</string>
			<string>组合符号</string>
			<string>选择器</string>
			<string>继承和优先级</string>
			<string>字体</string>
			<string>对齐方式</string>
			<string>格式处理</string>
			<string>文本</string>
			<string>盒模型</string>
			<string>背景</string>
			<string>display</string>
			<string>position</string>
			<string>2D变形</string>
			<string>3D变形</string>
			<string>动画</string>
		</array>
	</dict>
	<dict>
		<key>subcategories</key>
		<array>
			<string>js介绍</string>
			<string>基本语法</string>
			<string>基本类型</string>
			<string>类型识别</string>
			<string>内置对象</string>
			<string>对象</string>
			<string>window</string>
			<string>document</string>
		</array>
		<key>map_icon</key>
		<string>ic_category_99</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_99</string>
		<key>icon</key>
		<string>icon_category_99</string>
		<key>name</key>
		<string>JavaScript</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_99</string>
		<key>small_icon</key>
		<string>icon_filter_category_99</string>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_2</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_2</string>
		<key>icon</key>
		<string>icon_category_2</string>
		<key>name</key>
		<string>JSON</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_2</string>
		<key>small_icon</key>
		<string>icon_filter_category_2</string>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_3</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_3</string>
		<key>icon</key>
		<string>icon_category_3</string>
		<key>name</key>
		<string>jQuery</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_3</string>
		<key>small_icon</key>
		<string>icon_filter_category_3</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_3</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_3</string>
		<key>icon</key>
		<string>icon_category_3</string>
		<key>name</key>
		<string>PS</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_3</string>
		<key>small_icon</key>
		<string>icon_filter_category_3</string>
		<key>subcategories</key>
		<array>
			<string>切图</string>
			<string>拼图</string>
			<string>合并、排列</string>
		</array>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_22</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_22</string>
		<key>icon</key>
		<string>icon_category_22</string>
		<key>name</key>
		<string>XML</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_22</string>
		<key>small_icon</key>
		<string>icon_filter_category_22</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>subcategories</key>
		<array>
			<string>节点</string>
			<string>文档树</string>
			<string>属性操作</string>
			<string>样式操作</string>
		</array>
		<key>map_icon</key>
		<string>ic_category_78</string>
		<key>New item</key>
		<string></string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_78</string>
		<key>icon</key>
		<string>icon_category_78</string>
		<key>name</key>
		<string>DOM</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_78</string>
		<key>small_icon</key>
		<string>icon_filter_category_78</string>
	</dict>
	<dict>
		<key>map_icon</key>
		<string>ic_category_4</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_4</string>
		<key>icon</key>
		<string>icon_category_4</string>
		<key>name</key>
		<string>Sublime</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_4</string>
		<key>small_icon</key>
		<string>icon_filter_category_4</string>
		<key>subcategories</key>
		<array>
			<string>介绍</string>
			<string>简单使用</string>
			<string>快捷键</string>
			<string>插件</string>
		</array>
	</dict>
	<dict>
		<key>subcategories</key>
		<array>
			<string>介绍</string>
			<string>常用命令行</string>
			<string>git的使用</string>
		</array>
		<key>map_icon</key>
		<string>ic_category_5</string>
		<key>highlighted_icon</key>
		<string>icon_category_highlighted_5</string>
		<key>icon</key>
		<string>icon_category_5</string>
		<key>name</key>
		<string>GitHub</string>
		<key>small_highlighted_icon</key>
		<string>icon_filter_category_highlighted_5</string>
		<key>small_icon</key>
		<string>icon_filter_category_5</string>
	</dict>
</array>
</plist>
